body{
 font-family: "Ubuntu", sans-serif;
}
#imglacosta{
    width: 100%;
    margin: 0;
    background-size: cover;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
#barra{
    display: flex;
    justify-content: space-around;
}
header{
    background-image: url('../imagenes/images.jpeg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    border: 0;
    height: 600px;
}